.grey-title{
    color: rgba(0, 0, 0, 0.512);
}

.btn-register{
    display: flex;
    border-radius: 8px;
    margin: 3vh 1.5vh;
    width: 35vh;
    height: 15vh;
    align-items: center;
    font-size: 40px;
}

.buttons{
    display: flex;
    flex-direction: row;
}