{% extends 'base_acc.html' %}
{% load crispy_forms_tags %}


{% block title %}Recuperar Senha{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h1 class=" card-title text-center">Recuperação de Senha</h1>
                    <p class="descricao text-center">Coloque seu email abaixo</p>
                    <form method="POST" id="forgotten" class="fields" action="">
                        {% csrf_token %}
                        {{ form|crispy }}
                    <div class="text-center">
                        <button class="btn" form="forgotten" type="submit">Recuperar Senha</button>
                        <a href="/" class="links"><u>Voltar a Página Inicial</u></a>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}