@charset "UTF-8";

header {
    width: 100%;
    height: 100px;
    background: url("../logo/JRCBrasil-logo2.png") no-repeat 0px 35px;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse ;
    margin: auto;
}

thead {
    background-color: black;
    color: white;
    text-align: center;
}

th, td {
    border: 2px solid black;
    margin: auto;
}

caption {
    font-weight: bold;
    padding: 10px;
}


.vazio {
    background-color: white;
    border: 0px;
    padding-right: 15px;
    margin: 10px;
    text-align: right;
}

.preencher {
    text-align: center;
    padding-top: 1px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
}

#esquerda {
    font-weight: normal;
    width: 100%;
    border: 0px solid white;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 217px;
}


td.num {
    text-align: center;
}
